# Note that subfolders also have their own .gitignore files where that makes sense

# Syncthing
.DS_Store
.stignore
.stfolder

# Temp folders
tmp*

# Working, tutorial and other repo-specific temp files and folders
working
output
tutorial

# tools/web
geckodriver

# Used for working through pinning of dependencies but `pyproject.toml` is the final source of truth
dev-requirements.txt

# Other
git-sim_media
*.bak

# The following is from https://github.com/github/gitignore/blob/main/Python.gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.envrc
.hatch
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

tools/web/staticfiles/admin/css/autocomplete.css
tools/web/staticfiles/admin/css/base.css
tools/web/staticfiles/admin/css/changelists.css
tools/web/staticfiles/admin/css/dark_mode.css
tools/web/staticfiles/admin/css/dashboard.css
tools/web/staticfiles/admin/css/forms.css
tools/web/staticfiles/admin/css/login.css
tools/web/staticfiles/admin/css/nav_sidebar.css
tools/web/staticfiles/admin/css/responsive_rtl.css
tools/web/staticfiles/admin/css/responsive.css
tools/web/staticfiles/admin/css/rtl.css
tools/web/staticfiles/admin/css/widgets.css
tools/web/staticfiles/admin/css/vendor/select2/LICENSE-SELECT2.md
tools/web/staticfiles/admin/css/vendor/select2/select2.css
tools/web/staticfiles/admin/css/vendor/select2/select2.min.css
tools/web/staticfiles/admin/img/calendar-icons.svg
tools/web/staticfiles/admin/img/icon-addlink.svg
tools/web/staticfiles/admin/img/icon-alert.svg
tools/web/staticfiles/admin/img/icon-calendar.svg
tools/web/staticfiles/admin/img/icon-changelink.svg
tools/web/staticfiles/admin/img/icon-clock.svg
tools/web/staticfiles/admin/img/icon-deletelink.svg
tools/web/staticfiles/admin/img/icon-no.svg
tools/web/staticfiles/admin/img/icon-unknown-alt.svg
tools/web/staticfiles/admin/img/icon-unknown.svg
tools/web/staticfiles/admin/img/icon-viewlink.svg
tools/web/staticfiles/admin/img/icon-yes.svg
tools/web/staticfiles/admin/img/inline-delete.svg
tools/web/staticfiles/admin/img/LICENSE
tools/web/staticfiles/admin/img/README.txt
tools/web/staticfiles/admin/img/search.svg
tools/web/staticfiles/admin/img/selector-icons.svg
tools/web/staticfiles/admin/img/sorting-icons.svg
tools/web/staticfiles/admin/img/tooltag-add.svg
tools/web/staticfiles/admin/img/tooltag-arrowright.svg
tools/web/staticfiles/admin/img/gis/move_vertex_off.svg
tools/web/staticfiles/admin/img/gis/move_vertex_on.svg
tools/web/staticfiles/admin/js/actions.js
tools/web/staticfiles/admin/js/autocomplete.js
tools/web/staticfiles/admin/js/calendar.js
tools/web/staticfiles/admin/js/cancel.js
tools/web/staticfiles/admin/js/change_form.js
tools/web/staticfiles/admin/js/collapse.js
tools/web/staticfiles/admin/js/core.js
tools/web/staticfiles/admin/js/filters.js
tools/web/staticfiles/admin/js/inlines.js
tools/web/staticfiles/admin/js/jquery.init.js
tools/web/staticfiles/admin/js/nav_sidebar.js
tools/web/staticfiles/admin/js/popup_response.js
tools/web/staticfiles/admin/js/prepopulate_init.js
tools/web/staticfiles/admin/js/prepopulate.js
tools/web/staticfiles/admin/js/SelectBox.js
tools/web/staticfiles/admin/js/SelectFilter2.js
tools/web/staticfiles/admin/js/theme.js
tools/web/staticfiles/admin/js/urlify.js
tools/web/staticfiles/admin/js/admin/DateTimeShortcuts.js
tools/web/staticfiles/admin/js/admin/RelatedObjectLookups.js
tools/web/staticfiles/admin/js/vendor/jquery/jquery.js
tools/web/staticfiles/admin/js/vendor/jquery/jquery.min.js
tools/web/staticfiles/admin/js/vendor/jquery/LICENSE.txt
tools/web/staticfiles/admin/js/vendor/select2/LICENSE.md
tools/web/staticfiles/admin/js/vendor/select2/select2.full.js
tools/web/staticfiles/admin/js/vendor/select2/select2.full.min.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/af.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/ar.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/az.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/bg.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/bn.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/bs.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/ca.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/cs.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/da.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/de.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/dsb.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/el.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/en.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/es.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/et.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/eu.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/fa.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/fi.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/fr.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/gl.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/he.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/hi.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/hr.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/hsb.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/hu.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/hy.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/id.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/is.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/it.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/ja.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/ka.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/km.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/ko.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/lt.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/lv.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/mk.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/ms.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/nb.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/ne.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/nl.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/pl.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/ps.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/pt-BR.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/pt.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/ro.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/ru.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/sk.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/sl.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/sq.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/sr-Cyrl.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/sr.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/sv.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/th.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/tk.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/tr.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/uk.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/vi.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/zh-CN.js
tools/web/staticfiles/admin/js/vendor/select2/i18n/zh-TW.js
tools/web/staticfiles/admin/js/vendor/xregexp/LICENSE.txt
tools/web/staticfiles/admin/js/vendor/xregexp/xregexp.js
tools/web/staticfiles/admin/js/vendor/xregexp/xregexp.min.js
tools/web/staticfiles/django-browser-reload/reload-listener.js
tools/web/staticfiles/django-browser-reload/reload-worker.js
tools/web/staticfiles/gis/css/ol3.css
tools/web/staticfiles/gis/img/draw_line_off.svg
tools/web/staticfiles/gis/img/draw_line_on.svg
tools/web/staticfiles/gis/img/draw_point_off.svg
tools/web/staticfiles/gis/img/draw_point_on.svg
tools/web/staticfiles/gis/img/draw_polygon_off.svg
tools/web/staticfiles/gis/img/draw_polygon_on.svg
tools/web/staticfiles/gis/js/OLMapWidget.js
tools/web/staticfiles/world/map.js
tools/web/staticfiles/world/styles.css
tools/web/staticfiles/world/tinybox.jpg
