# direnv
export VIRTUAL_ENV=.venv
export PATH=.venv/bin:$PATH
export PATH=$PATH:/usr/bin  # To address an issue arising out of Dagster failing to find `tail`

# For launching from VS Code, to address `malloc` error
export MallocNanoZone=1

# To persist Dagster data across sessions; _must be an absolute path_, and variables like `$HOME` will not be correctly evaluated
export DAGSTER_HOME=""
export GITHUB_ACCESS_TOKEN=""