{%load static%}

<li class="border-y border-neutral-100">
  <div class="flex flex-col h-full">  
    <div class="mt-auto flex justify-between">
      <div class="accordion">
        <div class="accordion-item">
          <button type="button" class="accordion-button category-button p-4 mx-auto">
            <img class="btnTwistie h-3 inline pr-2" src="images/btn_Twistie.svg" alt="Down" /><span class="font-semibold">Category 1</span>
          </button>
          <div class="accordion-content hidden max-w-sm pt-2">
            <button class="layer-button border-[#00aa95] border-2 border-t-[#00ffda] border-l-[#00ffda] bg-white text-left px-4 w-full">
              <div class="flex flex-col h-full">
                <h1 class="pt-2 font-semibold">Layer 1</h1>
                <p class="pb-4 text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </button>
            <button class="layer-button border-[#00aa95] border-2 border-t-[#00ffda] border-l-[#00ffda] bg-white text-left px-4 w-full">
              <div class="flex flex-col h-full">
                <h1 class="pt-2 font-semibold">Layer 2</h1>
                <p class="pb-4 text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>