{% comment %} {% load static tailwind_tags %} {% endcomment %}
{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700&display=swap" rel="stylesheet">

    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>

  <!--Side Bar Container - Logo/Home button-->
<div class="font-titillium p-1 min-h-screen flex flex-col overflow-x-clip">
  
  <div id="wrapper" class="z-40 sm:w-96 bg-white rounded-lg flex-grow flex flex-col shadow-[rgba(0,_0,_0,_0.25)_0px_20px_20px] duration-500 ease-in-out relative">
    {% comment %} <div class="flex items-center">
      <button type="button" id="slideY" class="pt-2 mx-auto">
        <img id="btnFlipY" src="{% static 'world/map_Sidebar/images/btn_Yslide.svg'%}" alt="Hide" class="h-3"/>
    </button>
    <button type="button" id="SlideX" class="top-1/2 transform translate-y-1/2 hidden sm:block absolute -right-4">
      <img id="btnFlipX" src="{% static 'world/map_Sidebar/images/btn_Xslide.svg'%}" alt="Hide" class="w-5"/>
    </button>
    </div> {% endcomment %}
    <div class="flex items-center justify-between pb-5 pl-4 sm:pt-5">
      <img src="{% static 'world/map_Sidebar/images/tinybox_Logo.svg'%}" class="w-36">      
      <img src="{% static 'world/map_Sidebar/images/btn_Profile.svg'%}" alt="Profile" class="h-12 pr-4"/>


 <!--Side Bar Container - Logo/Home button-->

    </div>
<!--Search bar-->
<div class="mb-3">
  <div class="px-4 relative flex w-full flex-wrap items-stretch">
    <input type="search" class="relative m-0 -mr-0.5 block w-[1px] min-w-0 flex-auto rounded-l border border-solid border-neutral-400 bg-transparent bg-clip-padding px-3 text-sm text-neutral-400 focus:outline-none" placeholder="Search address or neighbourhood" aria-label="Search" aria-describedby="button-addon1" />
<!--Search button-->
    <button class="relative z-[2] flex items-center rounded-r bg-[#00aa95] px-4 py-2 text-xs font-medium uppercase leading-tight text-white transition duration-150 ease-in-out" type="button" id="button-addon1" data-te-ripple-init data-te-ripple-color="light">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5">
        <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z" clip-rule="evenodd" />
      </svg>
    </button>
  </div>
</div>
<!--Tabs-->
<nav>
  <div class="flex border-b text-sm" role="tablist">
    <button id="tab1-button" class="flex-1 px-4 py-2 border-b-2 border-[#00aa95] text-[#00aa95] font-semibold" onclick="switchTabs('tab1')">Your Layers</button>
    <button id="tab2-button" class="flex-1 px-4 py-2 border-b-2 border-transparent text-neutral-400 hover:text-neutral-600 hover:border-neutral-600" onclick="switchTabs('tab2')">Add Layers</button>
  </div>
</nav>

<!--Tab 1 Content-->

<div id="tab1-content" class="">
    <h1 class="pt-4 px-4 font-semibold">Here you'll find all your custom map layers.</h1>
    <p class="px-4 pb-6 text-sm">Add more from the Add Layers tab above, toggle them on and off, or remove them from your list with the x.</p>

<ul class="" id="layers-show-hide-buttons" data-url="{% url 'get_map_layer_button' %}" >
<!-- Layer 1 -->
    <li class="p-4 border-y border-neutral-100">
      <div class="flex flex-col h-full">
        <div class="flex items-center justify-between">
          <div class="flex items-center">
            <span class="font-semibold">Data Overlay 123</span>
            <button  id="key" class="ml-5">
              <img src="{% static 'world/map_Sidebar/images/btn_Key.svg'%}" alt="Key" class="w-6 inline"/>
            </button>
            <div id="popover" class="hidden absolute mt-20 bg-neutral-50 text-black p-4 border border-neutral-400 rounded-lg shadow-md">
              This is the popover message.
            </div>
          </div>
          <label class="relative inline-block w-12 h-7 rounded-full">
            <input type="checkbox" class="peer opacity-0 w-0 h-0 left-5">
            <span class="absolute cursor-pointer top-0 left-0 right-0 bottom-0 bg-neutral-200 rounded-full duration-300 before:absolute before:w-5 before:h-5 before:top-1 before:left-1 before:rounded-full before:bg-[#00aa95] before:duration-300 peer-checked:before:translate-x-5 peer-checked:bg-[#00ffda]"></span>
          </label>
        </div>
        <p class="mt-2 mb-2 text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        
        
        <div class="mt-auto flex justify-between">
          <div id="accordionabc">
            <div class="accordion-item">
              <button type="button" id="twistieBtn123" class="accordion-button pt-2 mx-auto twistieBtn">
                <img id="btnTwistie" src="{% static 'world/map_Sidebar/images/btn_Twistie.svg'%}" alt="Down" class="h-3 inline pr-2"/><span class="text-xs text-neutral-400">Display Options.</span>
            </button>
              <div class="accordion-content hidden pb-36 max-w-sm">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </div>
          </div>
          <button class="float-right">
            <img src="{% static 'world/map_Sidebar/images/btn_X.svg'%}" alt="X" class="w-6"/>
          </button>
        </div>
      </div>
    </li>
    <li class="p-4 border-y border-neutral-100">
      <div class="flex flex-col h-full">
        <div class="flex items-center justify-between">
          <div class="flex items-center">
            <span class="font-semibold">Data Overlay w1</span>
            <button  id="key" class="ml-5">
              <img src="{% static 'world/map_Sidebar/images/btn_Key.svg'%}" alt="Key" class="w-6 inline"/>
            </button>
            <div id="popover" class="hidden absolute mt-20 bg-neutral-50 text-black p-4 border border-neutral-400 rounded-lg shadow-md">
              This is the popover message.
            </div>
          </div>
          <label class="relative inline-block w-12 h-7 rounded-full">
            <input type="checkbox" class="peer opacity-0 w-0 h-0 left-5">
            <span class="absolute cursor-pointer top-0 left-0 right-0 bottom-0 bg-neutral-200 rounded-full duration-300 before:absolute before:w-5 before:h-5 before:top-1 before:left-1 before:rounded-full before:bg-[#00aa95] before:duration-300 peer-checked:before:translate-x-5 peer-checked:bg-[#00ffda]"></span>
          </label>
        </div>
        <p class="mt-2 mb-2 text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        
        <div class="mt-auto flex justify-between">
          <div id="accordion">
            <div class="accordion-item">
              <button type="button" id="twistieBtn" class="accordion-button pt-2 mx-auto">
                <img id="btnTwistie" src="{% static 'world/map_Sidebar/images/btn_Twistie.svg'%}" alt="Down" class="h-3"/>
            </button>
              <div class="accordion-content hidden pb-36 max-w-sm">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </div>
          </div>
          <button class="float-right">
            <img src="{% static 'world/map_Sidebar/images/btn_X.svg'%}" alt="X" class="w-6"/>
          </button>
        </div>
      </div>
    </li>

      </ul>
</div>

<!--Tab 2 Content-->
<div id="tab2-content" class="hidden">
    <h1 class="pt-4 px-4 font-semibold">Here you can add layers.</h1>
    <p class="px-4 pb-6 text-sm">Add layers from different categories. They will apear in the Your Layers tab above.</p>
    <!--Dropdown Menu-->
    <div class="relative inline-block w-full px-4 pb-5">
      <button id="menuButton" class="w-full justify-between inline-flex rounded-md bg-white px-2 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" id="menu-button" aria-expanded="true" aria-haspopup="true">
          <span>Categories</span>
          <svg class="w-4 h-4 ml-2 mt-1" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
          </svg>
      </button>
      <div id="menuItems" class="w-full hidden absolute left-0 mt-2  bg-white rounded-md shadow-lg py-1 z-10">
          <a href="#" id="link1" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Category 1</a>
          <a href="#" id="link2" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Category 2</a>
      </div>
    </div>
 
  
  <div id="buttonContainer-addRemove-layers" data-url="{% url 'get_map_layer_button' %}">
    <div id="layer-addremove-buttons" class=""></div>
   
  </div>
</div>

<!--Side Bar Container End-->
  </div>
</div>

<!--Side Bar Container End-->


<!--Accordion Twistie-->


<script>

  function rotateImage(button) {
    // Find the image element relative to the button
    const imgElement = button.querySelector('.btnTwistie');
    if (imgElement.classList.contains('rotate-90')) {
        imgElement.classList.remove('rotate-90');
    } else {
        imgElement.classList.add('rotate-90');
    }
}


</script>

<!--Accordion-->
<script>

document.getElementById('layers-show-hide-buttons').addEventListener('click', function(event) {
  console.log("event.target!", event.target)

  let button = event.target.closest('button') || event.target.previousElementSibling || event.target.closest('.popover').previousElementSibling;

  if (button.matches('.accordion-button')) {
    console.log("accordion matched")
    const content = button.nextElementSibling;

    if(content.style.maxHeight){
      content.style.maxHeight = null;
      content.classList.add('hidden');
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
      content.classList.remove('hidden');
    }

    
    rotateImage(button);

  } else if(button.matches('.key')){
    console.log("key matched")
    const popover = button.nextElementSibling;
  
    if (popover.classList.contains('hidden')) {
      popover.classList.remove('hidden');
    } else {
      popover.classList.add('hidden');
    }
  } else {
    console.log ("accordion not matched")
  }
});
</script>

<!--Slider-->
<script>
  document.getElementById('SlideX').addEventListener('click', function() {
  var wrapper = document.getElementById('slidingDiv');
  if (wrapper.style.transform === "translateX(-100%)") {
    wrapper.style.transform = "";
  } else {
    wrapper.style.transform = "translateX(-100%)";
  }
});
document.getElementById('slideY').addEventListener('click', function() {
  var wrapper = document.getElementById('slidingDiv');
  if (wrapper.style.transform === "translateY(90%)") {
    wrapper.style.transform = "";
  } else {
    wrapper.style.transform = "translateY(90%)";
  }
});
</script>

<!--Flip slide buttons-->

<script>
  let rotateY = false;
  let rotateX = false;
  
  document.getElementById('slideY').addEventListener('click', function() {
      var button = document.getElementById('btnFlipY');
      rotateY = !rotateY; // toggles the rotation state
      button.style.transform = rotateY ? "rotate(180deg)" : ""; // apply rotation
  });
  
  document.getElementById('SlideX').addEventListener('click', function() {
      var button = document.getElementById('btnFlipX');
      rotateX = !rotateX; // toggles the rotation state
      button.style.transform = rotateX ? "rotate(180deg)" : ""; // apply rotation
  });
  </script>


<!--Flip slide button-->

<!--Popover-->

<!--Layers Toggle-->

<!--Tabs-->
<script>
  document.getElementById("menuButton").addEventListener("click", function () {
      document.getElementById("menuItems").classList.toggle("hidden");
  });
  document.getElementById("link1").addEventListener("click", function () {
      showContent(1);
      closeMenu();
  });
  document.getElementById("link2").addEventListener("click", function () {
      showContent(2);
      closeMenu();
  });
  function showContent(contentNumber) {
      const contents = document.getElementsByClassName("content");
  
      for (let i = 0; i < contents.length; i++) {
          contents[i].classList.add("hidden");
      }
  
      document.getElementById(`content${contentNumber}`).classList.remove("hidden");
  }
  function closeMenu() {
      document.getElementById("menuItems").classList.add("hidden");
  }
  showContent(1);
  </script>
  
  <script>
  const tab1Button = document.getElementById("tab1-button");
  const tab2Button = document.getElementById("tab2-button");
  const tab1Content = document.getElementById("tab1-content");
  const tab2Content = document.getElementById("tab2-content");
  function switchTab(activeButton, inactiveButton, activeContent, inactiveContent) {
      activeButton.classList.add("border-b-2", "border-[#00aa95]", "text-[#00aa95]");
      inactiveButton.classList.remove("border-b-2", "border-[#00aa95]", "text-[#00aa95]");
  
      activeContent.classList.remove("hidden");
      inactiveContent.classList.add("hidden");
  }
  tab1Button.addEventListener("click", () => {
      switchTab(tab1Button, tab2Button, tab1Content, tab2Content);
  });
  tab2Button.addEventListener("click", () => {
      switchTab(tab2Button, tab1Button, tab2Content, tab1Content);
  });
  </script>

<script>
  function switchTabs(tab) {
    document.getElementById('tab1-button').classList.remove('border-[#00aa95]', 'text-[#00aa95]', 'font-semibold');
    document.getElementById('tab1-button').classList.add('border-transparent', 'text-neutral-400', 'hover:text-neutral-600', 'hover:border-neutral-600');
    document.getElementById('tab2-button').classList.remove('border-[#00aa95]', 'text-[#00aa95]', 'font-semibold');
    document.getElementById('tab2-button').classList.add('border-transparent', 'text-neutral-400', 'hover:text-neutral-600', 'hover:border-neutral-600');

    document.getElementById(tab + '-button').classList.add('border-[#00aa95]', 'text-[#00aa95]', 'font-semibold');
    document.getElementById(tab + '-button').classList.remove('border-transparent', 'text-neutral-400', 'hover:text-neutral-600', 'hover:border-neutral-600');
  }
</script>

<!--Slider-->

    
    <script> 
// Select the overlay element and the open/close button element
const overlay = document.querySelector('.overlay');
const button = document.querySelector('#open-overlay-button');

// Add a click event listener to the button element to toggle the overlay

     </script>   
    
</body>		
		
</html>

