{%load static%}

{%if buttonType == 'yourLayers'%}

    <li class="p-4 border-y border-neutral-100" data-id="{{id}}">
        <div class="flex flex-col h-full">
        <div class="flex items-center justify-between">
            <div class="flex items-center">
            <span class="font-semibold activateLayer">{{id}}</span>
            <button  class="ml-5 key">
                <img src="{% static 'world/map_Sidebar/images/btn_Key.svg'%}" alt="Key" class="w-6 inline"/>
            </button>
            <div class="hidden absolute mt-20 bg-neutral-50 text-black p-4 border border-neutral-400 rounded-lg shadow-md popover">
                <p class="layer-description-detail">This is the popover message.</p>
            </div>
            </div>
            <label class="relative inline-block w-12 h-7 rounded-full activateLayer">
            <input type="checkbox" class="peer opacity-0 w-0 h-0 left-5 activateLayer">
            <span class="absolute cursor-pointer top-0 left-0 right-0 bottom-0 bg-neutral-200 rounded-full duration-300 before:absolute before:w-5 before:h-5 before:top-1 before:left-1 before:rounded-full before:bg-[#00aa95] before:duration-300 peer-checked:before:translate-x-5 peer-checked:bg-[#00ffda]"></span>
            </label>
        </div>
        <p class="mt-2 mb-2 text-sm activateLayer layer-description-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        
        <div class="mt-auto flex justify-between">
            <div class="accordion">
            <div class="accordion-item">
                <button type="button" class="accordion-button category-button pt-2 mx-auto twistieBtn">
                    <img src="{% static 'world/map_Sidebar/images/btn_Twistie.svg'%}" alt="Down" class="h-3 inline pr-2 btnTwistie"/><span class="text-xs text-neutral-400">Display Options.</span>
                </button>
                <div class="accordion-content hidden pb-36 max-w-sm">
                    <p class="text-sm pt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <button class="float-right remove-yourLayerButton">
                        <img src="{% static 'world/map_Sidebar/images/btn_X.svg'%}" alt="X" class="w-6"/>
                    </button>
                </div>
            </div>
            </div>

        </div>
        </div>
    </li>


{% elif buttonType == "addLayersFull"%}
    <li class="border-y border-neutral-100">
        <div class="flex flex-col h-full">  
        <div class="mt-auto flex justify-between">
            <div class="accordion">
            <div class="accordion-item">

                <button type="button" class="accordion-button category-button p-4 mx-auto">
                <img class="btnTwistie h-3 inline pr-2" src="images/btn_Twistie.svg" alt="Down" /><span class="font-semibold">Category 1</span>
                </button>

                <div class="accordion-content hidden max-w-sm pt-2">
                    <button class="layer-button border-[#00aa95] border-2 border-t-[#00ffda] border-l-[#00ffda] bg-white text-left px-4 w-full" data-layer-id="{{id}}">
                        <div class="flex flex-col h-full">
                        <h1 class="pt-2 font-semibold">{{id}}</h1>
                        <p class="pb-4 text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </button>
                </div>
            </div>
            </div>
        </div>
        </div>
    </li>

{% elif buttonType == "addLayers"%}
        <button class="layer-button border-[#00aa95] border-2 border-t-[#00ffda] border-l-[#00ffda] bg-white text-left px-4 w-full" data-layer-id="{{id}}">
            <div class="flex flex-col h-full">
                <h1 class="pt-2 font-semibold">{{id}}</h1>
                <p class="pb-4 text-sm layer-description-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </button>

{% elif buttonType == "addLayers-Category" %}

<li class="border-y border-neutral-100">
    <div class="flex flex-col h-full">  
        <div class="mt-auto flex justify-between">
            <div class="accordion">
                <div class="accordion-item">
                    <button type="button" class="accordion-button category-button p-4 mx-auto">
                    <img class="btnTwistie h-3 inline pr-2" src="{% static 'world/map_Sidebar/images/btn_Twistie.svg'%}" alt="Down" /><span class="font-semibold">{{category}}</span>
                    </button>

                    <div id="{{categoryID}}" class="accordion-content hidden max-w-sm pt-2" data-category-id="{{categoryID}}">
                        {% comment %} addLayer button goes here {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>

{%endif%}